<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="TimeStampAuthoritySettings" type="ezd.AddIn.Core.Configuration.TimeStampAuthoritySettingsSection, ezd.AddIn.Core" />
  </configSections>
  <TimeStampAuthoritySettings>
    <add Name="SZAFIR" RegexPattern="(?i).*SZAFIR.*" Url="http://www.ts.kir.com.pl/HttpTspServer" RequestFormat="2" />
    <add Name="ENIGMA" RegexPattern="(?i).*ENIGMA.*" Url="http://tsp.cencert.pl" RequestFormat="2" />
    <add Name="Certum TSP" RegexPattern="(?i).*CERTUM.*" Url="http://public-qlts.certum.pl/qts-17" RequestFormat="1" />
    <add Name="EUROCERT" RegexPattern="(?i).*EUROCERT.*" Url="http://time.certum.pl" RequestFormat="1" />
    <add Name="CUZ Sigillum QTSA1" RegexPattern="(?i).*SIGILLUM.*|.*PWPW.*" Url="http://tsa.sigillum.pl" RequestFormat="2" ReqPolicyId="1.2.616.1.113725.0.0.5"/>
    <add Name="CenCert QTSP CA" RegexPattern="(?i).*CenCert QTSP CA.*" Url="http://tsp.cencert.pl" RequestFormat="2" />
  </TimeStampAuthoritySettings>-->
  <!--  RCE PARTIAL FIX BEGIN -->
  <appSettings>  
    <add key="proxy.url" value="http://11.33.44.66/ezdproxy.svc"/>  
  <!--  RCE PARTIAL FIX END -->
  </appSettings> 
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\traces2.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ezd_proxy_streamed" messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="10067108864" />
        <binding name="ezd_proxy_buffered" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://192.168.0.241:8077/addin/EzdProxy.svc" binding="basicHttpBinding" bindingConfiguration="ezd_proxy_buffered" contract="addin.proxy.IAddInProxy" name="ezd_proxy">        
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SecureBlackbox.PGP" publicKeyToken="47aa36a947686fb6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.286.0" newVersion="14.0.286.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SecureBlackbox" publicKeyToken="47aa36a947686fb6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.286.0" newVersion="14.0.286.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
